<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/company-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <title>Company admin panel</title>

    <style>

        
    </style>

</head>
<body id="company-admin-body">
    
    {% include 'partials/company-header.html' %}
    {% include 'partials/mobile-menu.html' %}
    
    <main>
        <div class="mt-5 mb-5 company-admin-container main-admin-menus">
            <div class="row">
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <a href="{% url 'restaurant:photo' %}">
                        <div class="compamy-admin-item">
                            <div class="link-box" style="background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);">
                                <i class="fas fa-images"></i>
                                <div class="ml-2 d-flex flex-direction-column">
                                    <span class="bold">Photos</span>
                                    <span class="bold">{{user.photo_owner.all.count}}</span>
                                </div>
                            </div>
                            
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <a href="{% url 'restaurant:menu' %}">
                        <div class="link-box" style="background-image: -webkit-linear-gradient(90deg, #11998e 0%, #38ef7d 100%);">
                            <i class="fas fa-hamburger"></i>
                            <span class="ml-2 bold">Menus</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <a href="{% url 'restaurant:company-infos' user.company.pk %}">
                        <div class="link-box" style="background-image: -webkit-linear-gradient(90deg, #D6ED17FF 0%, #EEA47FFF 100%);">
                            <i class="fas fa-info-circle"></i>
                            <span class="ml-2 bold">Informations</span>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 d-flex m-auto justify-content-center">
                    <a href="{% url 'restaurant:company-tables' user.company.pk %}">
                        <div class="link-box" style="background-image: -webkit-linear-gradient(90deg, #2c3e50 0%, #bdc3c7 100%);background-color: #fbb168 ;">
                            <i class="fas fa-table"></i>
                            <div class="ml-2 d-flex flex-direction-column">
                                <span class="bold">Tables</span>
                                <span class="bold">{{user.company_table.all.count}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <a href="{% url 'restaurant:company-reservations' user.company.pk %}">
                        <div class="link-box" style="background-image: -webkit-linear-gradient(90deg, #ff0048 0%, #e17695 100%);background-color: #e17695;">
                            <i class="fas fa-clock"></i>
                            <div class="ml-2 d-flex flex-direction-column">
                                <span class="bold">Reservations</span>
                                <span class="bold">{{user.company.reservation.all.count}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-center">
                    <a href="{% url 'restaurant:company-users' user.company.pk %}">
                        <div class="link-box" style="background-image: -webkit-linear-gradient(90deg,  #185a9d 0%, #43cea2 100%);">
                            <i class="fas fa-users"></i>
                            <div class="ml-2 d-flex flex-direction-column">
                                <span class="bold">Users</span>
                                <span class="bold">{{reserved_users_count}}</span>
                            </div>
                        </div>
                    </a>
                </div>
                
            </div>
            <div class="row mt-5">
                <div class="col-lg-6">
                    <div class="canvas-block header-shadow">
                        <div class="chart-content">
                            <h4 >Recent Reports for reservations</h4>
                        </div>
                        <div class="chart-wrapper">
                            <canvas id="widgetChart1"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="canvas-block header-shadow">
                        <div class="chart-content">
                            <h4>{{user.company.company_name|capfirst}} Ratings</h4>
                        </div>
                        <div class="chart-wrapper">
                            <canvas id="PieChart"></canvas>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <div class="d-column border-right p-3 align-items-center">
                                <strong>{{food_avg}}</strong>
                                <span>Food</span>
                            </div>
                            <div class="d-column border-right p-3 align-items-center">
                                <strong>{{service_avg}}</strong>
                                <span>Service</span>
                            </div>
                            <div class="d-column p-3 align-items-center">
                                <strong>{{ambience_avg}}</strong>
                                <span>Ambience</span>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </main>

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

   <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(document).ready(function(){
           
            var width = $('.link-box').width()
            $('.link-box').hover(function(){
                var height = $(this).height()

                $(this).stop().animate({
                    borderRadius : '50%',
                    width : height
                    })
            }, function(){
                $(this).animate({
                    borderRadius : '10px',
                    width : width
                    })
            })
        });
    </script>
     <script >
        var ctx = document.getElementById("widgetChart1");
        if (ctx) {
            // ctx.height = 170;
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                type: 'line',
                datasets: [{
                    data: [32, 65, 51, 45, 34, 12, 40],
                    label: 'Dataset',
                    backgroundColor: 'rgba(35, 155, 86, .7)',
                    borderColor: 'rgba(255,255,255,.55)',
                },
                {
                    data: [78, 45, 65, 32, 45, 18, 45],
                    label: 'Dataset2',
                    backgroundColor: 'rgba(52, 152, 219 , .7)',
                },]
                },
                options: {
                    maintainAspectRatio: true,
                    legend: {
                        // display: false
                },
                layout: {
                    padding: {
                        left: 0,
                        right: 0,
                        top: 0,
                        bottom: 0
                    }
                },
                responsive: true,
                
                elements: {
                    line: {
                        borderWidth: 0
                    },
                    point: {
                        radius: 0,
                        hitRadius: 10,
                        hoverRadius: 4
                    }
                }
                }
            });
        }

        var ctx_1 = document.getElementById("PieChart").getContext('2d');
        let colorHex = ['#EBEBCA', '#EDC2D8FF', '#8ABAD3FF']
        let labels = ['Food','Service', 'Ambience']

        var ctx_1 = new Chart(ctx_1, {
            type: 'pie',

            data: {
                datasets: [{
                    data: ['{{food_avg}}', '{{service_avg}}','{{ambience_avg}}'],
                    backgroundColor: colorHex,
                }],
                labels : labels
            },

            options: {
                responsive : true,
                legend: {
                    position: 'bottom',
                }
            }
        });
     </script>
</body>
</html>