<html>
    <body>
        <div style="width: 100%; height: 400px; background-color: #fff;">
            <div style="width: 400px;
                        height: 100%;
                        margin: auto;">
                <h1 style="width: 100%; text-align: center; font-weight: bold; margin-top: 10px;">Reserve Time</h1>
                <p style="width: 100%; text-align: center; margin-top: 10px; font-weight: bold;">Thank you for your reservation in {{company_name}}</p>
                <a style="background-color: red;
                    text-decoration: none;
                    color: #fff;
                    display: flex;
                    padding: 15px 65px;
                    font-size: 14px;
                    font-weight: bold;
                    border-radius: 10px;
                    margin-top: 25px;"

                href="{{site_address}}{% url 'restaurant:write-comment' company_id %}">Click the link and give us your feedback</a>
            </div>
        </div>
    </body>
</html>