<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/company-profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>Company List</title>

    

</head>
<body id="company-admin-body">
    
    {% include 'partials/company-header.html' %}
    {% include 'partials/mobile-menu.html' %}

    <main class="full-h">
        <div class="full full-h">
            <div class="row full-h justify-content-center">
                <div class="col-3 col-lg-2 bg-white p-0 admin-menu-col header-shadow">
                    <div class="admin-menu-box mt-5">
                        <nav>
                            <ul class="admin-menu-list">
                                <li>
                                    <a href="{% url 'core:company-profile' user.company.pk %}">
                                        <div class="d-flex">
                                            <i class="fas fa-home"></i>
                                            <span class="ml-2 bold">{{request.user.company.company_name}}</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'account:company-profile' user.company.pk %}">
                                        <div class="d-flex">
                                            <i class="fas fa-cogs"></i>
                                            <span class="ml-2 bold">Company Settings</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'restaurant:photo' %}">
                                        <div class="d-flex">
                                            <i class="fas fa-images"></i>
                                            <span class="ml-2 bold">Photos</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'restaurant:menu' %}">
                                        <div class="d-flex">
                                            <i class="fas fa-hamburger"></i>
                                            <span class="ml-2 bold">Menus</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'restaurant:company-infos' user.company.pk %}">
                                        <div class="d-flex">
                                            <i class="fas fa-info-circle"></i>
                                            <span class="ml-2 bold">Informations</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'restaurant:company-tables' user.company.pk %}">
                                        <div class="d-flex">
                                            <i class="fas fa-table"></i>
                                            <span class="ml-2 bold">Tables</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'restaurant:company-reservations' user.company.pk %}">
                                        <div class="d-flex">
                                            <i class="fas fa-clock"></i>
                                            <span class="ml-2 bold">Reservations</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'restaurant:company-users' user.company.pk %}">
                                        <div class="d-flex">
                                            <i class="fas fa-users"></i>
                                            <span class="ml-2 bold">Users</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-9 col-lg-10">
                    <div class="container mt-3">
                        <div class="row">
                            <h3 class="full bottom-border bold pb-3 mb-5">
                                Edit menu
                            </h3>
                            <form class="full mb-3 menu-form" method='POST'>
                            {% csrf_token %}
                               <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="formGroupExampleInput">Title</label>
                                            {{form.title}}
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label for="selectType">Type</label>
                                            {{form.menu_type}}
                                        </div>
                                    </div>
                                     <div class="col">
                                        <div class="form-group">
                                            <label for="selectType">Price</label>
                                            {{form.price}}
                                        </div>
                                    </div>
                               </div>
                               <div class="row">
                                   <div class="col">
                                        <div class="form-group">
                                            <label for="exampleFormControlTextarea1">Description</label>
                                            {{form.description}}
                                        </div>
                                   </div>
                               </div>  
                                <div class="d-flex justify-content-end">
                                    <input type="submit" value="Save Changes" class="save-btn">
                                    <button type='button' class="delete-btn" data-toggle="modal" data-target="#exampleModal">Delete</button>   
                                </div>  
                            </form>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete Photo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete this menu?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <form method="POST" action="{% url 'restaurant:menu-delete' menu.pk %}">
                    {% csrf_token %}<input type="submit" class="btn btn-primary" value="DELETE">
              </form>
              
            </div>
          </div>
        </div>
      </div>

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script>
        $(document).ready(function(){
        

            $('.link-box').hover(function(){
                height = $(this).height()
                $(this).stop().animate({
                    borderRadius : '50%',
                    width : height
                    })
            }, function(){
                $(this).animate({
                    borderRadius : '10px',
                    width : '250px'
                    })
            })
        });
    </script>
</body>
</html>