{% load static custom_tags %}
<style>
    header .side{
        margin: 5px 0;
    }
</style>
<header >
    <div class="container custom-container shadow">
        <div class="row justify-content-between">
            <div class="left side">
                <a href="{% url 'core:home' %}">
                    <img src="{% static 'images/logo.png' %}" width="200px" alt="">
                </a>
            </div>
            <div class="right side">
                
                {% if request.user.is_authenticated %}
                    <div class="user-profile border-right pr-2">
                        <span class="header-btn" style="cursor:pointer;"> Hi, {{request.user.first_name|capfirst}} <i class="fas fa-chevron-down" id="arrow-down"></i></span>
                        <div class="custom-drop-down shadow box1" style="display: none;">
                            <div class="triangle"></div>
                            <!-- <span>Hello, {{request.user.first_name|capfirst}}</span> -->
                            <ul>
                                {% if request.user.is_company %}
                                    <li><a href="{% url 'core:company-profile' user.company.pk %}">
                                        <i class="fas fa-home mr-2"></i>
                                        {{request.user.company.company_name}}</a></li>
                                    <li><a href="{% url 'account:company-profile' user.pk %}">
                                        <i class="fas fa-cog mr-2"></i>
                                        Company Settings</a></li>
                                    <li><a href="{% url 'account:user-profile' user.pk %}">
                                        <i class="far fa-user-circle mr-2"></i>
                                        My Profile</a></li>
                                {% else %}
                                    <li><a href="{% url 'account:user-profile' user.pk %}">
                                        <i class="far fa-user-circle mr-2"></i>
                                        My Profile</a></li>
                                {% endif %}
                                <li><a href="{% url 'account:user-profile' user.pk %}">
                                    <i class="fas fa-history mr-2"></i>
                                    My Dining History</a></li>
                                <li><a href="{% url 'core:user-saved-restaurants' user.pk %}">
                                    <i class="fas fa-bookmark mr-2"></i>
                                    My Saved Restaurants</a></li>
                                <li><a href="{% url 'account:logout' %} " style="color: red;">
                                    <i class="fas fa-sign-out-alt mr-2"  style="color: red;"></i>
                                    Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                    {% reservation request.user as reservations%}
                    <div class="reserve-table">
                        <button type="button" class="header-btn"><i class="far fa-calendar"></i></button>
                        <div class="custom-drop-down p-3 scroll-y shadow box2" style="display: none;">
                            <div class="triangle"></div>
                            <span class="pb-2">Upcoming reservations</span>
                            {% if reservations %}
                                {% for reservation in reservations %}
                                    <div class="card mb-3" style="max-width: 540px;">
                                        <div class="row no-gutters">
                                        <div class="col-md-4">
                                            {% if reservation.company.cover_photo %}
                                                <img src="{{reservation.company.cover_photo.url}}" class="card-img" style="width: 100px;height: 100px; object-fit: cover;">
                                            {% else %}
                                                <img src="{% static 'images/img3.jpg' %}" class="card-img" style="width: 100px;height: 100px; object-fit: cover;">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">{{reservation.company.company_name}}</h5>
                                                <p class="card-text">{{reservation.reserved_date}}, {{reservation.reserved_time}}</p>
                                                <p class="card-text"><small class="text-muted">{{reservation.company.city_location}}, {{reservation.company.province_location}}</small></p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    
                                {% endfor %}
                            {% else %}
                                <p class="pl-2 pr-2">You have no upcoming reservations</p>
                            {% endif %}
                        </div>
                    </div>
                    {% notification request.user as notifications %} 
                    <div class="notification">
                        <button type="button" class="header-btn notification-btn">
                            {% if notifications %}
                                <span class="notification-count"></span>
                            {% endif %}
                            <i class="far fa-bell"></i>
                        </button>
                        <div class="custom-drop-down box3 scroll-y p-3 shadow" style="display: none;">
                            <div class="triangle"></div>
                            <span>Notifications</span>
                            {% if notifications %}
                                {% for notification in notifications %}
                                    {% if notification.notification_type == 'new_reservation' %}
                                        <a class="pl-2 pr-2" href="{% url 'restaurant:company-reservations' user.company.pk %}">
                                            <div class="d-flex align-items-center">
                                                <i class="far fa-clock mr-3"></i>
                                                <div class="d-column">
                                                    {{notification.text}}
                                                    <small>From {{notification.sender.email}}</small>   
                                                </div>
                                            </div>
                                        </a>
                                    {% elif notification.notification_type == 'accept_reservation' %}
                                        <a class="pl-2 pr-2 mb-2 d-column" href="{% url 'account:user-profile' request.user.pk %}">
                                            <div class="d-flex align-items-center">
                                                <i class="far fa-calendar-check mr-3"></i>
                                                <div class="d-column">
                                                    {{notification.text}}
                                                    <small>By {{notification.sender.company.company_name}}</small>   
                                                </div>
                                            </div>
                                            
                                        </a>
                                    {% endif %}
                                {% endfor %}

                                <form  class="full mt-2 mb-2" id="readNotifications" action="{% url 'core:read-notifications' %}" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-outline-secondary float-r" value="Mark all as read!">
                                </form>
                            {% else %}
                                <img src="{% static 'images/animat-bell-color.gif' %}" width="50%" class="m-auto" alt="">
                                <p class="pl-2 pr-2 bold text-center">Nothing to see here, you’re all caught up!</p>
                            {% endif %}
                            
                        </div>
                    </div>
                {% else %}
                    <button type="button" class="btn register-btn mr-2" data-toggle="modal" data-target="#exampleModal">Sign Up</button>
                    <a href="{% url 'account:login' %}" class="btn login-btn bold">Sign In</a>
                {% endif %}
                
               
            </div>
        </div>
        
    </div>
    
</header>
<section>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body d-column">
                <a href="{% url 'account:user-register' %}" class="btn register-btn mb-2">Sign Up for User</a>
                <a href="{% url 'restaurant:company-regsiter' %}" class="btn register-btn">Sign Up for Company</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>
</section>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script>
    $('#readNotifications').on('submit', function(e){
        e.preventDefault()  
        
        $.ajax({
            type: "POST",
            url: $('#readNotifications').attr('action'),
            data:  {
                csrfmiddlewaretoken:$('#readNotifications').find('input[name=csrfmiddlewaretoken]').val(),
                form_id : $('#readNotifications').attr('id')
            },
            dataType: 'json',
            success: function (data) {
                console.log(data);
            },
            error: function(data) {
                alert("error");
                console.log(data);
            }
        });
    });
</script>